<header class="d-flex flex-row align-items-center p-3 px-4 mb-3 
    bg-white border-bottom shadow-sm justify-content-between">

    <img src="../../../assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">
    <nav class="my-2 text-uppercase fs-5">
        <a class="p-2" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="p-2" routerLinkActive="active" routerLink="/shop">Shop</a>
        <a class="p-2" routerLinkActive="active" routerLink="/test-error    ">Error</a>
    </nav>
    <div class="d-flex align-items-center">
        <a routerLink="/cart" class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div *ngIf="(cartService.cartSource$ | async) as cart" class="cart-no">
                {{getCount(cart.items)}}
            </div>
        </a>
        <a class="btn btn-outline-secondary me-2" routerLink="login">Login</a>
        <a class="btn btn-outline-secondary me-3" routerLink="signup">Sign up</a>
    </div>
</header>